<h1>Welcome to Clear Sinatra</h1>

<h4>Here are some easy steps to get started:</h4>

<ul>
	<li>
		Create your models in the /models directory:<br>

		class Example < ActiveRecord::Base<br>
		end<br><br>
	</li>
	<li>
		Create the database:<br>
		$ rake db:create_migration NAME=create_users<br><br>
	</li>
	<li>
		Add needed fields to your table (DB>migrate>create_users)<br><br>
	</li>
	<li>
		Run the migrations<br>
		$ rake db:migrate<br><br>
	</li>

	<li>HAVE FUN!</li>
</ul>